img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    border: 5px solid black;
    padding: 20px;
    margin: 0 auto;
    background-color: #ff9500;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

.alatoo-pictures {
    display: inline;
    width: 320px;
    height: 200px;
}

.icons {
    display: inline;
    width: 15px;
    height: 15px;
}